#anime-border {
    height: 111px;
    width: 5px;
    background:
        linear-gradient(90deg, #ccc 50%, transparent 50%),
        linear-gradient(90deg, #ccc 50%, transparent 50%),
        linear-gradient(0deg, #ccc 50%, transparent 50%),
        linear-gradient(0deg, #ccc 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
    background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
    animation: border-dance 8s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }

    100% {
        background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
}