/* Custom ScrollBar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}

/* Custom selection */
::selection{
    background-color: #558EB4;
    color: #ececec;
}

button:focus {
    outline: 0 !important;
}

#menu {
    background-image: url('../images/menu.svg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;