::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #8a8a8a;
  border-radius: 5px;
}

* {
    outline: none;
}

button:focus {
    outline: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;