/* Custom ScrollBar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}

/* Custom selection */
::selection {
    background-color: #558EB4;
    color: #f0f0f0;
}

button:focus {
    outline: 0 !important;
}

input {
    outline: none !important;
}

.active {
    width: auto !important;
    height: auto !important;
}

.active svg path {
    fill: #397BA7 !important;
}

.active svg {
    width: 24px !important;
    height: 24px !important;
}

.active label {
    display: block !important;
    color: #397BA7 !important;
}

.active-side {
    background-color: #397BA7 !important;
}

.active-side:hover {
    background-color: #397BA7 !important;
}

.active-side svg path {
    fill: #FFFFFF !important;
}

.active-side label {
    color: #FFFFFF !important;
    font-weight: 450 !important;
}

article ul {
    list-style: disc !important;
    margin-left: 15px !important;
}

article ol {
    list-style: decimal !important;
    margin-left: 15px !important;
}

.liked svg path {
    fill: #558EB4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;